function Bullet.new 0
push constant 2
call Memory.alloc 1
pop pointer 0
push constant 0
pop this 1
push argument 0
push constant 1
add
push constant 160
sub
pop this 0
push pointer 0
push this 0
call Bullet.draw 2
pop temp 0
push pointer 0
return
function Bullet.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Bullet.move 0
push argument 0
pop pointer 0
push pointer 0
push this 0
call Bullet.drawbackground 2
pop temp 0
push this 0
push constant 352
sub
pop this 0
push pointer 0
push this 0
call Bullet.draw 2
pop temp 0
push constant 0
return
function Bullet.GetStatus 0
push argument 0
pop pointer 0
push this 1
return
function Bullet.GetPos 0
push argument 0
pop pointer 0
push this 0
return
function Bullet.draw 1
push argument 0
pop pointer 0
push constant 16384
push argument 1
add
pop local 0
push local 0
push constant 385
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 961
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 961
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 17345
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 961
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 963
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 961
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 961
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 9153
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 385
neg
call Memory.poke 2
pop temp 0
push constant 0
return
function Bullet.drawblack 1
push argument 0
pop pointer 0
push constant 16384
push argument 1
add
pop local 0
push local 0
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push constant 0
return
function Bullet.drawbackground 1
push argument 0
pop pointer 0
push constant 16384
push argument 1
add
pop local 0
push local 0
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 17
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 3073
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push constant 0
return
