function Star.initstar 0
push argument 0
pop pointer 0
push pointer 0
push constant 3187
call Star.drawstar 2
pop temp 0
push pointer 0
push constant 5329
call Star.drawstar 2
pop temp 0
push pointer 0
push constant 967
call Star.drawstar 2
pop temp 0
push pointer 0
push constant 6100
call Star.drawstar 2
pop temp 0
push constant 0
return
function Star.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Star.drawstar 1
push argument 0
pop pointer 0
push constant 16384
push argument 1
add
pop local 0
push local 0
push constant 257
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 773
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 9089
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 1665
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 2080
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 24247
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 15353
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 3953
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 26655
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 5475
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 8177
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 15953
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 11321
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 12317
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 8325
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push constant 0
return
